* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
body{
    background-color: #f1f2f6;
}
h4{
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 700;
    color: #ED5565;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(255,255,255,1);
}


a{

}

form.form-horizontal{
    width: 200px;
}

.tab{
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
/*tai khoản*/
label{
    float: left;
    width: 120px;
    font-size: 15px;
    text-align: right;
    padding-top: 5px;
    margin-right: 10px;
}
.control{
    display: block;
    width: 70%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fcf8e3;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: -10px;

}
.btn{
    width: 100px;
}
/*end*/
.comment{
    display: block;
    width: 70%;
    height: 70px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color:#fcf8e3;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: -10px;
}
.calendar {
    margin: 7px -10px 0 -10px;
    padding: 10px;
    border-radius: 4px;
    color: #FFF;
    background-color: #fd9883;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.calendar .years .prev {
    text-align: left;
}

.calendar .unit {
    float: left;
    width: 14.28%;
}
.calendar .years .next em, .calendar .years .prev em {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #FFF;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.calendar .years .monyear {
    float: left;
    width: 68%;
    text-align: center;
    height: 34px;
    line-height: 34px;
}
.calendar .days {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ee7f6d;
}
.calendar .days .unit.older p {
    color: #E9573F;
    background-color: transparent;
    cursor: default;
    width: auto;
    height: auto;
}
em:active:before, .calendar .years .prev em:hover:before {
    border-color: transparent #E9573F transparent transparent;
}

.calendar .years .prev em:before {
    top: 3px;
    left: 4px;
    border-color: transparent #FFF transparent transparent;
}